<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div>
          <div class="card card-content">
              <div class=" card-nav-tabs" >
                  <div class="card-header" data-background-color="red">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="active">
                                      <a href="#mother" data-toggle="tab">
                                          <i class="material-icons">pregnant_woman</i>
                                          Mother
                                      <div class="ripple-container"></div></a>
                                  </li>
                                  <li class="">
                                      <a href="#child" data-toggle="tab">
                                          <i class="material-icons">child_care</i>
                                          Child
                                      <div class="ripple-container"></div></a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>

                  <div class="card-content">
                      <div class="tab-content">
                          <div class="tab-pane active" id="mother">
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">First Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Aadhaar Card Number</label>
                                            <input type="text" class="form-control" placeholder="Hello">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Date of Birth</label>
                                            <!-- <material-datepicker class="form-control" [(date)]="yourModelDate"></material-datepicker> -->
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </form>
                          </div>
                          <div class="tab-pane" id="child">
                            Stupid Child, obviously inherited that quality
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>