<form (ngSubmit)="registerMother()">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">{{'REGISTER.FIRST NAME' | translate}}</label>
                    <input type="text" class="form-control" id="first_name" [(ngModel)]="modelMother.first_name" name="first_name" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">{{'REGISTER.LAST NAME' | translate}}</label>
                    <input type="text" class="form-control" id="last_name" [(ngModel)]="modelMother.last_name" name="last_name" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">{{'REGISTER.AADHAR CARD NUMBER' | translate}}</label>
                    <input type="text" class="form-control" id="aadhar" [(ngModel)]="modelMother.aadhar" name="aadhar" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">{{'REGISTER.MOBILE NUMBER' | translate}}</label>
                    <input type="text" class="form-control" id="mobile1" [(ngModel)]="modelMother.mobile1" name="mobile1" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">{{'REGISTER.MOBILE NUMBER' | translate}}</label>
                    <input type="text" class="form-control" id="mobile2" [(ngModel)]="modelMother.mobile2" name="mobile2" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">{{'REGISTER.BLOOD GROUP' | translate}}</label>
                    <select class="form-control" id="blood_group" [(ngModel)]="modelMother.blood_group" name="blood_group" required>
                        <option value="A+">A+</option>
                        <option value="B+">B+</option>
                        <option value="AB+">AB+</option>
                        <option value="O+">O+</option>
                        <option value="A-">A-</option>
                        <option value="B-">B-</option>
                        <option value="AB-">AB-</option>
                        <option value="O-">O-</option>
                    </select>
                    <!-- <input type="text" class="form-control" id="blood_group" [(ngModel)]="modelMother.blood_group" name="blood_group" required> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">{{'REGISTER.EDUCATION' | translate}}</label>
                    <select class="form-control" id="education" [(ngModel)]="modelMother.education" name="education" required>
                        <option value="Illiterate">{{'REGISTER.ILLITERATE' | translate}}</option>
                        <option value="Primary">{{'REGISTER.PRIMARY' | translate}}</option>
                        <option value="Middle School">{{'REGISTER.MIDDLE SCHOOL' | translate}}</option>
                        <option value="High School">{{'REGISTER.HIGH SCHOOL' | translate}}</option>
                        <option value="Graduate">{{'REGISTER.GRADUATE' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">{{'REGISTER.ECONOMIC STATUS' | translate}}</label>
                    <select class="form-control" id="economic_status" [(ngModel)]="modelMother.economic_status" name="economic_status" required>
                        <option value="APL">{{'REGISTER.ABOVE POVERTY LINE' | translate}}</option>
                        <option value="BPL">{{'REGISTER.BELOVE POVERTY LINE' | translate}}</option>
                        <option value="NA">{{'REGISTER.INFORMATION NOT AVAILABLE' | translate}}</option>
                    </select>
                    <!-- <input type="text" class="form-control" id="economic_status" [(ngModel)]="modelMother.economic_status" name="economic_status" required> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">{{'REGISTER.IS HIV POSITIVE' | translate}}</label>
                    <select class="form-control" id="hiv_status" [(ngModel)]="modelMother.hiv_status" name="hiv_status" required>
                        <option value="Positive">{{'REGISTER.HIV POSITIVE' | translate}}</option>
                        <option value="Negative">{{'REGISTER.HIV NEGATIVE' | translate}}</option>
                    </select>
                    <!-- <input type="text" class="form-control" id="hiv_status" [(ngModel)]="modelMother.hiv_status" name="location" required> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-black is-empty">
                <label class="control-label">{{'REGISTER.DATE OF BIRTH' | translate}}</label>
                <!-- <material-datepicker type="text" placeholder="Date of Birth" class="form-control" id="date_of_birth"></material-datepicker> -->
                <input type="date" class="form-control" id="date_of_birth" [(ngModel)]="modelMother.date_of_birth" name="date_of_birth" required>
            </div>
        </div>
        <button type="submit" class="btn btn-danger pull-right">{{ 'MAIN.REGISTER' | translate }}</button>
        <div class="clearfix"></div>
    </form>
    <div>
        <h2>Model:</h2>
        {{ currentMother }}
    </div>