<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div>
          <form role="search">
              <div class="col-md-4 form-group form-black is-empty">
                  <input type="text" class="form-control" placeholder="Search">
                  <span class="material-input"></span>
              </div>
              <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i><div class="ripple-container"></div>
              </button>
          </form>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-header" data-background-color="red">
          <h4 class="title">{{ childName }}</h4>
          <p class="category">Cute little child</p>
        </div>
        <div class="card-content">
          <form>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group form-black label-floating is-empty">
                  <h4 class="control-label">{{ now | date }}</h4>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-black label-floating is-empty">
                  <h4 class="control-label">{{ childName }}</h4>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-black label-floating is-empty">
                  <h4 class="control-label">{{ aadharNumber }}</h4>
                </div>
              </div>
            </div>
            <h4 class="title">Vaccines Pending</h4>
            <table class="table">
              <tbody>
                  <tr *ngFor="let vaccine of vaccinesList">
                      <td>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="optionsCheckboxes">
                              </label>
                          </div>
                      </td>
                      <td>{{ vaccine.name | translate }}</td>
                      <td>{{ vaccine.timing | translate }}</td>
                      <td>{{ vaccine.notes | translate }}</td>
                  </tr>
              </tbody>
          </table>
            <button type="submit" class="btn btn-danger pull-right">{{ 'MAIN.UPDATE' | translate }}</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>