<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div  *ngIf="profileList && profileList[0].model == 'stupidapp.mother'"> <!--changed model to list[0].model-->
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">{{ "MAIN.MOTHER PROFILE" | translate }}</h4>
                        <p class="category">Last updated: {{ profileList[0].fields.registration_date }}</p>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <p class="category">Name</p>
                                    <h4>{{ profileList[0].fields.first_name }} {{ profileList[0].fields.last_name }}</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <p class="category">Date of Birth</p>
                                    <h4>{{ profileList[0].fields.date_of_birth }}</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <p class="category">ID</p>
                                    <h4>{{ profileList[0].fields.aadhar }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <p class="category">Primary Mobile Number</p>
                                    <h4>{{ profileList[0].fields.mobile1 }}</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <p class="category">Secondary Mobile Number</p>
                                    <h4>{{ profileList[0].fields.mobile2 }}</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <p class="category">Blood Group</p>
                                    <h4>{{ profileList[0].fields.blood_group }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <p class="category">Highest Qualification</p>
                                    <h4>{{ profileList[0].fields.education }}</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <p class="category">Economic Status</p>
                                    <h4>{{ profileList[0].fields.economic_status }}</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-black label-floating is-empty">
                                    <p class="category">HIV Status</p>
                                    <h4>HIV {{ profileList[0].fields.hiv_status }}</h4>
                                </div>
                            </div>
                        </div>

                        <button (click)="editMother(mother)" type="submit" class="btn btn-danger pull-left">{{ 'MAIN.EDIT PROFILE' | translate }}</button>
                        <button (click)="addChild(mother.pk)" type="submit" class="btn btn-danger pull-left">{{ 'MAIN.ADD CHILD' | translate }}</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="red">
                                <h4 class="title">{{ profileList[0].fields.first_name }}'s Children</h4>
                                <!-- <p class="category">{{ children }}</p> -->
                            </div>
                            <div class="card-content table-responsive">
                                <table class="table table-hover">
                                    <!-- <thead class="">
                                        <tr>
                                            <th>Name</th>
                                            <th>Date of Birth</th>
                                            <th>Gender</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead> -->
                                    <tbody>
                                        <tr *ngFor="let kiddo of children">
                                            <td>{{kiddo.fields.first_name}}</td>
                                            <td>{{kiddo.fields.date_of_birth}}</td>
                                            <td>{{kiddo.fields.gender}}</td>
                                            <td>HIV {{kiddo.fields.hiv_status}}</td>
                                            <td>
                                                <button (click)="immunizeChild(kiddo)" type="submit" style="margin:0px;" class="btn btn-danger">{{ 'MAIN.IMMUNIZE' | translate }}</button>
                                                <button (click)="viewChildProfile(kiddo.fields)" type="submit" style="margin:0px;" class="btn btn-danger">{{ 'MAIN.VIEW PROFILE' | translate }}</button>
                                                <button type="submit" style="margin:0px;" class="btn btn-danger">{{ 'MAIN.REPORT AEFI' | translate }}</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="model != 'mother' && model != 'child'" class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">{{ "MAIN.SEARCH" | translate }}</h4>
                    <p class="category"></p>
                    <div class="card-content">
                        <div class="row">
                            <!-- Here goes the form -->
                            <div class="col-md-3">
                                <div class="form-group form-black label-floating is-empty" style="margin: 0; padding: 0">
                                    <label class="control-label">Mother ID</label>
                                    <!-- <input #searchBoxId type="text" class="form-control" (keyup)="search1(searchBoxId.value, searchBoxFName.value, searchBoxLName.value)"> -->
                                    <input class="form-control" type="text" #idBox (keyup)="search(idBox.value)">
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="model == 'child'" class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">{{ "MAIN.CHILD PROFILE" | translate }}</h4>
                    <!-- <p class="category">Last updated:</p> -->
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-black label-floating is-empty">
                                <p class="category">Name</p>
                                <h4>{{ child.first_name }}</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-black label-floating is-empty">
                                <p class="category">Date of Birth</p>
                                <h4>{{ child.date_of_birth }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-black label-floating is-empty">
                                <p class="category">Gender</p>
                                <h4>{{ child.gender }}</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-black label-floating is-empty">
                                <p class="category">Blood Group</p>
                                <h4>{{ child.blood_group }}</h4>
                            </div>
                        </div>
                    </div>
                    <button (click)="immunize(child.pk)" type="submit" class="btn btn-danger pull-left">{{ 'MAIN.IMMUNIZE' | translate }}</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>